.nav-wrapper {
    border-bottom: 1px solid white;
    
}

.banner-Navbar-wrapper {
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-bg-wrapper {
    padding: 87px 0;
}

.Asset-Bar-Wrapper {
    background: #fd9631;
}